.signInButton {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;
}

.inputRemember {
    display: flex;
}

.inputRemember label {
    margin-left: 0.25rem;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
}

.inputWrapper label {
    font-weight: bold;
}

.inputWrapper input {
    padding: 5px;
    font-size: 1.2rem;
}
