.errorMessage {
    color: red;
    font-weight: 700;
}

.inputRemember {
    display: flex;
}

.inputRemember label {
    margin-left: .25rem;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;
}

.inputWrapper label {
    font-weight: 700;
}

form>a {
    text-decoration: none;
}
